<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
   <body>
     <button style="width: 50%; height: 15%; font-size:200%;" type='button' id ='retrieve'>GET A ROCKET!</button>
     <h1 id="mycnt"></h1>
     <img src="" id="myimg" />
   </body>
  <script>
    $(document).ready(function() {
       $('#retrieve').click(function(){
           $.ajax({
           url: "{{ url_for ('get_img') }}",
           type: "GET",
           success: function(response) {
               data = JSON.parse(response);
               $("#myimg").attr('src', '/static/' + data.image);
               $("#mycnt").html("Это ракета #" + data.count);
          },
          error: function(xhr) {
            //Do Something to handle error
         }
         });
       });
    });
  </script>
</html>
